.page {
  padding: 12.88rem 1.25rem 14.5rem;
  background-color: #fbfbfd;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.text {
  color: #000000;
  font-size: 1.38rem;
  font-family: AlibabaPuHuiTi;
  line-height: 1.28rem;
}
.group {
  margin-top: 2.25rem;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.section {
  background-color: #ffffff;
  border-radius: 0.63rem;
}
.section_2 {
  margin-left: 0.5rem;
  padding: 0.38rem 0;
  background-color: #ffffff;
  border-radius: 0.63rem;
  width: 20.94rem;
}
.image {
  border-radius: 0.63rem;
  width: 3rem;
  height: 2.81rem;
}
.font_1 {
  font-size: 0.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.56rem;
  color: #230a06;
}
.text_2 {
  opacity: 0.5;
}
.section_3 {
  padding: 0.38rem 0.5rem;
  background-color: #ffffff;
  border-radius: 0.63rem;
}
.space-x-10 > *:not(:first-child) {
  margin-left: 0.63rem;
}
.text_3 {
  margin-top: 0.75rem;
  color: #2a82e4;
  line-height: 0.72rem;
}
.text-wrapper {
  margin-top: 1.5rem;
  padding: 1.38rem 0 1.13rem;
  background-color: #f67952;
  border-radius: 8.31rem;
  width: 12.81rem;
}
.text_4 {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: AlibabaPuHuiTi;
  line-height: 1.19rem;
}
.group_2 {
  margin-top: 4.13rem;
  line-height: 0.81rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: AlibabaPuHuiTi;
}
.text_5 {
  color: #230a0680;
  line-height: 0.69rem;
}
.text_6 {
  color: #2a82e4;
  line-height: 0.81rem;
}